.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;

  .arrow {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .arrow:disabled {
    cursor: default;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;

    .pageNumber {
      padding: 8px;
      border: none;
      background-color: #fff;
      cursor: pointer;
    }

    .pageNumber:disabled {
      cursor: default;
    }
  }
}